body {

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0%;
    padding-right:0%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Set properties for content background*/
.master-content{
    width:100vw;
    height:100vh;
    background-color:blue;
}
.mainscreen-content{
    width: 85vw;
    height:91vh;
    background-color:red;
    position:relative;
    margin-left:13.5%;
    margin-top:3.5%;
}
