@{
    ViewBag.Title = "About";
}
<div class="container">
        <div class="col-8 col-sm-4 info" >
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>
            <p>Our Team - Secret Society</p>
            <img src="~/Images/16708609_1075509135925893_7918090143301469913_n.jpg" width="50%"/>
            <p>Use this area to provide additional information.</p>
        </div>
</div>
