@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="row">
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xm-1"></div>
        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xm-11">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>
            <img src="~/Images/16708609_1075509135925893_7918090143301469913_n.jpg" width="20%" />
            <address>
                Secret Society<br />
                7th Floor - Van Lang Univeristy - 45 Nguyen Khac Nhu Str - District 1 - Ho Chi Minh City<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
    </div>
