
@model IEnumerable<HNFCRM_Chat.Models.CUSTOMER>
<link rel="stylesheet" href="~/Content/HNFStyle.css">

<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <!--===== DIVIDER =====-->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xm-12">
                    <div id="divider"></div>
                </div>
            </div>
            <!--===== end of [DIVIDER] =====-->
            <!--===== PANELS =====-->
            <div class="row">
                <div class="col-lg-6 col-lg-6">
                    <div class="card-deck">
                        <div class="card card-inverse card-primary hnf-card mb-3 text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>HỢP ĐỒNG THÀNH CÔNG</p>
                                    <h1 id="card-info-big">20</h1>
                                </blockquote>
                            </div>
                        </div>
                        <div class="card card-inverse card-primary hnf-card mb-3 text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>HỢP ĐỒNG THÀNH CÔNG</p>
                                    <h1 id="card-info-big">20</h1>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="card-deck">
                        <div class="card card-inverse card-primary hnf-card mb-3 text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>HỢP ĐỒNG THÀNH CÔNG</p>
                                    <h1 id="card-info-big">20</h1>
                                </blockquote>
                            </div>
                        </div>
                        <div class="card card-inverse card-primary hnf-card mb-3 text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>HỢP ĐỒNG THÀNH CÔNG</p>
                                    <h1 id="card-info-big">20</h1>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===== end of [PANELS] =====-->
            <!--===== TABLE =====-->
            <div class="row">
                <div class="col-xl-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">KHÁCH HÀNG MỚI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile" role="tab">ĐƠN HÀNG ĐANG SẢN XUẤT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages" role="tab">ĐƠN HÀNG ĐÃ THỰC HIỆN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#settings" role="tab">ĐƠN HÀNG THẤT BẠI</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <table class="table table-sm table-hover">
                                <thead class="thead">
                                    <tr>
                                        <th>#</th>
                                        <th>HỌ VÀ TÊN</th>
                                        <th>CÔNG TY</th>
                                        <th>EMAIL</th>
                                        <th>ĐIỆN THOẠI</th>
                                        <th>TƯ VẤN</th>
                                        <th>GỌI NHẮC</th>
                                        <th>TÊN SALE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel">
                            <table class="table table-sm table-hover">
                                <thead class="thead">
                                    <tr>
                                        <th>#</th>
                                        <th>HỌ VÀ TÊN</th>
                                        <th>CÔNG TY</th>
                                        <th>EMAIL</th>
                                        <th>ĐIỆN THOẠI</th>
                                        <th>TƯ VẤN</th>
                                        <th>GỌI NHẮC</th>
                                        <th>TÊN SALE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="messages" role="tabpanel">
                            <table class="table table-sm table-hover">
                                <thead class="thead">
                                    <tr>
                                        <th>#</th>
                                        <th>HỌ VÀ TÊN</th>
                                        <th>CÔNG TY</th>
                                        <th>EMAIL</th>
                                        <th>ĐIỆN THOẠI</th>
                                        <th>TƯ VẤN</th>
                                        <th>GỌI NHẮC</th>
                                        <th>TÊN SALE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="settings" role="tabpanel">
                            <table class="table table-sm table-hover">
                                <thead class="thead">
                                    <tr>
                                        <th>#</th>
                                        <th>HỌ VÀ TÊN</th>
                                        <th>CÔNG TY</th>
                                        <th>EMAIL</th>
                                        <th>ĐIỆN THOẠI</th>
                                        <th>TƯ VẤN</th>
                                        <th>GỌI NHẮC</th>
                                        <th>TÊN SALE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                        <td>mdo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--===== end of [TABLE] =====-->
        </div>
    </div>
</div>
 