@model HNFCRM_Chat.Models.CUSTOMER
<link rel="stylesheet" href="~/Content/HNFStyle.css">

<!--===== PAGE CONTENT =====-->
<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <!--===== DIVIDER =====-->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xm-12">
                    <div id="divider"></div>
                </div>
            </div>
            <!--===== end of [DIVIDER] =====-->
            @using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-8">

                        <div class="form-input-background">

                            <h3>THÔNG TIN KHÁCH HÀNG</h3>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xm-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Họ Tên</label>
                                        <input type="text" class="form-control" id="InputName" aria-describedby="emailHelp" placeholder="" name="name" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Số Điện Thoại</label>
                                        <input type="text" class="form-control" id="InputPhone" aria-describedby="emailHelp" placeholder="" name="phone" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="text" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="" name="email" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Thông Tin Công Ty</label>
                                        <input type="text" class="form-control" id="InputCompany" aria-describedby="emailHelp" placeholder="" name="company" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Ngành Nghề</label>
                                        <input type="text" class="form-control" id="InputJob" aria-describedby="emailHelp" placeholder="" name="job" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Địa Chỉ</label>
                                        <input type="text" class="form-control" id="InputAddress" aria-describedby="emailHelp" placeholder="" name="address" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleSelect1">Tình Trạng Tư Vấn</label>
                                        <select class="form-control" id="exampleSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xm-6">
                                    <div class="form-group">
                                        <label for="exampleTextarea">Quan tâm về Dịch Vụ / Sản Phẩm gì?</label>
                                        <textarea class="form-control" id="InterestedIn" rows="5" name="careaboutproduct"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Loại Áo Đã Làm</label>
                                        <input type="text" class="form-control" id="PreviousDesign" aria-describedby="emailHelp" placeholder="" name="previousdesign">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Loại Vải</label>
                                        <input type="text" class="form-control" id="PreviousFabric" aria-describedby="emailHelp" placeholder="" name="previousfabric">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Giá Thành</label>
                                        <input type="text" class="form-control" id="PreviousPrice" aria-describedby="emailHelp" placeholder="" name="previousprice">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nhận Xét</label>
                                        <input type="text" class="form-control" id="PreviousComment" aria-describedby="emailHelp" placeholder="" name="previouscomment">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Công Ty Đã Thực Hiện</label>
                                        <input type="text" class="form-control" id="PreviousCompany" aria-describedby="emailHelp" placeholder="" name="previouscompany">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea">Ghi Chú</label>
                                <textarea class="form-control" id="Note" rows="3" name="customernote"></textarea>
                            </div>

                        </div>


                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-4">
                        <div class="form-input-background">
                            <h3>THÔNG TIN SẢN PHẨM</h3>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Loại Áo</label>
                                <input type="text" class="form-control" id="InputShirtType" aria-describedby="emailHelp" placeholder="" name="shirttype">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Loại Vải</label>
                                <input type="text" class="form-control" id="InputRequireFabric" aria-describedby="emailHelp" placeholder="" name="requirefabric">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mục Đích Sử Dụng</label>
                                <input type="text" class="form-control" id="InputPurpose" aria-describedby="emailHelp" placeholder="" name="purpose">
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xm-6">
                                    <div class="form-group">
                                        <label for="exampleSelect1">Đã Có Thiết Kế Chưa ?</label>
                                        <select class="form-control" id="SelectDesignYet" name="isanydesign">
                                            <option>Rồi</option>
                                            <option>Chưa</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xm-6">
                                    <div class="form-group">
                                        <label for="exampleSelect1">Màu Sắc</label>
                                        <select class="form-control" id="exampleSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">In / Thêu ?</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xm-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Số Lượng</label>
                                        <input type="text" class="form-control" id="InputEmbroiderPrint" aria-describedby="emailHelp" placeholder="" name="embroiderprint">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xm-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tầm Giá</label>
                                        <input type="text" class="form-control" id="InputPrice" aria-describedby="emailHelp" placeholder="" name="price">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea">Ghi Chú</label>
                                <textarea class="form-control" id="InputNote" rows="3" name="requirenote"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("AddCustomer", "Customer")'">Lưu Thông Tin</button>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
