<link rel="stylesheet" href="~/Content/HNFStyle.css">
@using HNFCRM_Chat.Models
@model STAFF

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Staff</title>
</head>

<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <br>
            <form class="" action="@Url.Action("AddStaff", "Staff")" method="post">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <!-- Thông tin nhân  -->
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                    <h5>Thông Tin Nhân Viên</h5>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <!-- Họ Tên -->
                                            <div class="form-group">
                                                <label for="InputName">Họ Tên <span class="Notice">*</span></label>
                                                <input type="text" class="form-control" name="name" id="InputName" aria-describedby="InputName" placeholder="" required>
                                                <small class="form-text text-muted">Vui lòng nhập đầy đủ họ tên của bạn (Độ dài không được quá 35 ký tự)</small>
                                            </div>
                                            <!-- Số Điện Thoại -->
                                            <div class="form-group">
                                                <label for="InputPhone">Số Điện Thoại <span class="Notice">*</span></label>
                                                <input type="text" class="form-control" name="phone" id="InputPhone" aria-describedby="InputPhone" placeholder="" required>
                                                <small class="form-text text-muted">Vui lòng nhập số điện thoại của bạn</small>
                                            </div>
                                            <!-- Phân Quyền -->
                                            <div class="form-group">
                                                <label for="InputAuthorize">Phân Quyền <span class="Notice">*</span></label>
                                                @*<select class="form-control" id="InputAuthorize" name="role" @Html.DropDownList("AddStaff")></select>*@
                                                <select class="form-control" id="InputAuthorize" name="role">
                                                    <option>Quản Trị Viên</option>
                                                    <option>Nhân Viên Bán Hàng</option>
                                                    <option>Nhân Viên Chăm Sóc Khách Hàng</option>
                                                    <option>Nhân Viên Quản Lí Sản Xuất</option>
                                                </select>
                                                <small class="form-text text-muted">Vui lòng nhập chọn phân quyền</small>
                                            </div>
                                            <br>
                                        </div>
                                        <div class="col-xl-6">
                                            <!-- Email -->
                                            @if (TempData["AddStaff"] != null)
                                            { <p style="color:red">@TempData["AddStaff"]</p>
                                            }
                                            <div class="form-group">
                                                <label for="InputEmail">Email <span class="Notice">*</span></label>
                                                <input type="text" class="form-control" name="email" id="InputEmail" aria-describedby="InputEmail" placeholder="" required>
                                                <small class="form-text text-muted">Vui lòng nhập Email của bạn</small>
                                            </div>
                                            <!-- Mật Khẩu -->
                                            <div class="form-group" id="AddEmployeePassword">
                                                <label for="InputPassword">Mật Khẩu <span class="Notice">*</span></label>
                                                <input type="password" class="form-control" name="password" id="txt-input-password" aria-describedby="emailHelp" placeholder="" required>
                                                <small class="form-text text-muted">Vui lòng nhập mật khẩu</small>
                                            </div>
                                            <!-- Nhập Lại Mật Khẩu -->
                                            <div class="form-group" id="AddEmployeeConfirmPassword">
                                                <label for="InputPasswordConfirm">Nhập Lại Mật Khẩu <span class="Notice">*</span></label>
                                                <input type="password" class="form-control" id="txt-input-password-confirm" aria-describedby="emailHelp" placeholder="" required>
                                                <small class="form-text text-muted">Vui lòng nhập lại mật khẩu. 2 trường nhập mật khẩu phải trùng nhau </small>
                                            </div>
                                            <!-- Các Nút chức năng -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <span class="Notice"> <small class="font-italic">* : Trường Bắt Buộc</small></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <input type="submit" href='@Url.Action("AddStaff", "Staff")' value="Thêm Nhân Viên" class="btn btn-success btn-block" id="AddNewEmployeeBtn">
                                </div>
                                <div class="col-xl-6">
                                    <button type="button" onclick="history.go(-1);return false" name="button" class="btn btn-danger btn-block">Huỷ</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>