@using HNFCRM_Chat.Models;
@model CONTRACT
<link rel="stylesheet" href="~/Content/HNFStyle.css">

<!--===== PAGE CONTENT =====-->
<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <br>
            <!--===== Component Rows =====-->
            <!-- 1 Panels -->

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card">
                        <div class="card-block">
                            <h6 class="card-subtitle mb-1 text-muted">Mã Hợp Đồng</h6>
                            <h4 class="card-title" value=""></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card">
                        <div class="card-block">
                            <h6 class="card-subtitle mb-1 text-muted">Khách Hàng</h6>
                            <h4 class="card-title" value=""></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card">
                        <div class="card-block">
                            <h6 class="card-subtitle mb-1 text-muted">Ngày Tạo Hợp Đồng</h6>
                            <h4 class="card-title" value="@Model.CreatedDate"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card">
                        <div class="card-block">
                            <h6 class="card-subtitle mb-1 text-muted">Người Tạo Hợp Đồng</h6>
                            <h4 class="card-title" value="@Model.ID_Staff"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- 2 Thời Gian -->
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </span>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Thời Gian" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <label class="sr-only" for="inlineFormInputGroup">date</label>
                                <div class="input-group mb-1 mb-xl-0 mb-lg-0 mb-md-0 mb-sm-0 mb-xm-0">
                                    <div class="input-group-addon">Ngày Tư Vấn</div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="dd/mm/yyyy">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <label class="sr-only" for="inlineFormInputGroup">date</label>
                                <div class="input-group mb-1 mb-xl-0 mb-lg-0 mb-md-0 mb-sm-0 mb-xm-0">
                                    <div class="input-group-addon">Ngày Hẹn Gặp</div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="dd/mm/yyyy">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <label class="sr-only" for="inlineFormInputGroup">date</label>
                                <div class="input-group mb-1 mb-xl-0 mb-lg-0 mb-md-0 mb-sm-0 mb-xm-0">
                                    <div class="input-group-addon">Ghi Chú</div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- 3 Thiết kế và gởi Market -->
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </span>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Thiết kế và gởi Market" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <div class="mb-2 mb-sm-0">
                                    <label class="custom-file w-100 mb-sm-2 mb-lg-0">
                                        <input type="file" id="file" class="custom-file-input hnf-custom-file-input">
                                        <span class="custom-file-control"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <div class="input-group mb-2 mb-sm-0">
                                    <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Tên File Market" readonly>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <div class="input-group mb-0 mr-sm-2 mb-sm-0">
                                    <a href="./HNF-Customer-ContractDetail-DetailDesign.html" role="button" class="btn btn-primary btn-block">Chi Tiết Thiết Kế</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- 4 Báo Giá -->
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </span>
                            <input type="text" class="form-control" aria-label="Báo Giá Sản Phẩm" placeholder="Báo Giá" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <div class="mb-2 mb-sm-0">
                                    <label class="custom-file w-100">
                                        <input type="file" id="file" class="custom-file-input hnf-custom-file-input">
                                        <span class="custom-file-control"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">

                                <div class="input-group mb-2 mb-sm-0">
                                    <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Tên File Báo Giá" readonly>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- 5 Hẹn Gặp -->
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </span>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Hẹn Gặp" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <label class="sr-only" for="inlineFormInputGroup">date</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Ngày Tư Vấn</div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ngày Hẹn ">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">


                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </span>
                                    <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Khách Hàng Đồng Ý Mẫu Thiết Kế" readonly>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- 6 Áo Mẫu Đã Duyệt -->
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </span>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Áo Mẫu Đã Duyệt" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <div class="mb-2 mb-sm-0">
                                    <label class="custom-file w-100">
                                        <input type="file" id="file" class="custom-file-input hnf-custom-file-input">
                                        <span class="custom-file-control"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">

                                <div class="input-group mb-2 mb-sm-0">
                                    <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Tên File Áo Mẫu Đã Duyệt" readonly>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- 7 Hợp Đồng -->
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </span>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Hợp Đồng" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-4 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <div class="mb-2 mb-sm-0">
                                    <label class="custom-file w-100">
                                        <input type="file" id="file" class="custom-file-input hnf-custom-file-input">
                                        <span class="custom-file-control"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-4 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">

                                <div class="input-group mb-2 mb-sm-0">
                                    <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Tên File Hợp Đồng" readonly>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- 8 Sản Xuất -->
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </span>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Sản Xuất" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <label class="sr-only" for="inlineFormInputGroup">date</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Ngày Bắt Đầu</div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="dd/mm/yyyy">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <label class="sr-only" for="inlineFormInputGroup">date</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Ngày Kết Thúc</div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="dd/mm/yyyy">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div role="separator" class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- 9 Chuyển Tiền -->
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </span>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Chuyển Tiền" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                    <div class="card form-input-margin">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xm-12">
                                <label class="custom-control custom-radio">
                                    <input id="customer-money-tranfer50" name="radio" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">50% Số Tiền</span>
                                </label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xm-12 ">
                                <div class="form-check form-check-inline">
                                    <label class="custom-control custom-radio">
                                        <input id="customer-money-tranfer100" name="radio" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">100% Số Tiền</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <!-- 10 Gọi Nhắc -->
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </span>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Gọi Nhắc" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <label class="custom-control custom-radio">
                                            <input id="customer-call1-radio" name="radio" type="radio" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Gọi Nhắc lần 1</span>
                                        </label>
                                    </div>
                                    <div class="col-xl-4">
                                        <label class="custom-control custom-radio">
                                            <input id="customer-call2-radio" name="radio" type="radio" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Gọi Nhắc lần 2</span>
                                        </label>
                                    </div>
                                    <div class="col-xl-4">
                                        <label class="custom-control custom-radio">
                                            <input id="customer-call2-radio" name="radio" type="radio" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Gọi Nhắc lần 3</span>
                                        </label>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- 11 Trạng Thái -->
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </span>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Trạng Thái" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xm-12">
                    <div class="card form-input-margin">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xm-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                <div class="btn-group w-100" data-toggle="buttons">
                                    <label class="btn btn-outline-primary w-100 ">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1
                                    </label>
                                    <label class="btn btn-outline-warning w-100 ">
                                        <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                                    </label>
                                    <label class="btn btn-outline-danger w-100 ">
                                        <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- 12 Buttons -->
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                    <a class="btn btn-success btn-block" role="button" href="#">Lưu Thông Tin</a>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 ">
                    <a class="btn btn-danger btn-block" role="button" href="#">Huỷ Thông Tin</a>
                </div>
            </div>
            <br>

        </div>
    </div>
</div>