



<form action="@Url.Action("AddCustomer","Chat")" method="post">

    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <br>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Họ Tên <span class="Notice">*</span></label>
                                        <input type="text" class="form-control" name="name" aria-describedby="Customer Name" placeholder="" required id="txt-CName">
                                        <label>Email <span class="Notice">*</span></label>
                                        <input type="email" class="form-control" name="email" aria-describedby="Email" placeholder="" required
                                               id="txt-CEmail">
                                        <label>Số Điện Thoại <span class="Notice">*</span></label>
                                        <input type="tel" class="form-control " name="phone" aria-describedby="Phone Number" placeholder="" min="0" required id="txt-CPhone">

                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>IP</label>
                                        <input type="text" class="form-control" name="IP" aria-describedby="Company" placeholder="" id="txt-CCompany">
                                        <label>Ngày</label>
                                        <input type="text" class="form-control" name="datetime" aria-describedby="Company" placeholder="" id="txt-CCompany">
                                        <label>Hình thức tư vấn</label>
                                        <br>
                                        <select class="custom-select w-100">
                                            <option value="1">Chat</option>
                                            <option value="2">Gọi điện</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <br>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2 mb-xl-0">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2 mb-xl-0" style="text-align:center">
                                        <thead>
                                            <tr>
                                                <th colspan="2"><h4>ĐÁNH GIÁ VỀ SẢN PHẨM</h4></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>Câu hỏi 1</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="1"></label>
                                                            </div>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Câu hỏi 2</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="1"></label>
                                                            </div>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Câu hỏi 3</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="1"></label>
                                                            </div>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Câu hỏi 4</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="1"></label>
                                                            </div>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Câu hỏi 5</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="1"></label>
                                                            </div>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>Câu hỏi 6</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="1"></label>
                                                            </div>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Câu hỏi 7</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="1"></label>
                                                            </div>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Câu hỏi 8</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="1"></label>
                                                            </div>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Câu hỏi 9</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="1"></label>
                                                            </div>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Câu hỏi 10</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="1"></label>
                                                            </div>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="card form-input-margin">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 ">
                                <button type="submit" class="btn btn-success btn-block" id="DetailDesign-Add-Button" role="button" href="@Url.Action("AddCustomer","Chat")">Lưu Thông Tin</button>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 ">
                                <a class="btn btn-danger btn-block" id="Cancle-Button" role="button" href="#">Huỷ Thông Tin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function ($) {
        var url = window.location.href;
        var activePage = url;
        $('.sidebar-nav a').each(function () {
            var linkPage = this.href;

            if (activePage == linkPage) {
                $(this).closest("li").addClass("sidebar-active");
            }
        });
    });
</script>
